:root {
    --primaria: #c51616;
    --secundaria: #374151;
    --destaque: #FACC15;
    --fundo: #F3F4F6;
    --texto: #1F2933;
    --branco: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}


body {
    background-color: var(--fundo);
    color: var(--texto);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--branco);
    padding: 20px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-bottom: 4px solid var(--primaria);
}


.logo {
    width: 70px;
}

.menu {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    transition-duration: 1ms;

}

.menu a {
    text-decoration: none;
    color: var(--secundaria);
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s;
}

.menu a:hover {
    color: var(--primaria);
}

h1 {
    color: var(--primaria);
    font-size: 1.8rem;
    text-align: center;
}

main > p {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    text-align: center;
    font-size: 1.1rem;
}

.sobre{
    max-width: 800px;
    margin: 20px auto;
    align-items: center;

}
.destaques {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
}

.destaques > div {
    background: var(--branco);
    padding: 20px;
    border-radius: 8px;
    
}

.destaques h2 {
    display: flex;
    color: var(--primaria);
    border-bottom: 2px solid var(--secundaria);
}

.destaques p{
    display: flex;
    align-items: center;
}

form {
    max-width: 600px;
    margin: 40px auto;
    background: var(--branco);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

fieldset {
    border: 2px solid var(--secundaria);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#fieldindex {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    margin: 2% 30%;
}
#fielddestaques{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fundo);
    color: rgb(0, 0, 0);
    text-decoration: none; 
    padding: 16px 40px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);

}


legend {
    font-weight: bold;
    color: var(--primaria);
}

label {
    font-weight: 600;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.inline {
    display: flex;
    margin-top: 5px;
    gap: 5px
    
}

button {
    background-color: var(--primaria);
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

button:hover {
    opacity: 0.9;
}

button[type="reset"] {
    background-color: var(--secundaria);
}

form > div {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-inscrever {
    display: flex;
    justify-content: center;
    background-color: var(--primaria);
    color: white;
    text-decoration: none; 
    padding: 1% 5%;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 50px;
    text-transform: uppercase;
    box-shadow: 0 6px 15px rgba(197, 22, 22, 0.3);
    margin: 5% 30%;
    
}

.btn-inscrever:hover {
    
    background-color: var(--texto);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);

}


.lista {
    max-width: 800px;
    margin: 1% auto;
    padding: 20px;
    background: var(--branco);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.lista ul {
    list-style-position: inside;
    margin-top: 15px;
}

.lista li {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

.lista li:last-child {
    border-bottom: none;
}

@media (max-width: 768px){
    .destaques{
    flex-direction: column;
    }
    #fieldindex{
        margin: 2% 9%;
        
    }

}

